<script>
    import { onMount, onDestroy } from "svelte";
    import { TimingProvider } from "timing-provider";
    import { TimingObject } from "timing-object";
    import { setTimingsrc } from "timingsrc";
    export let src = "countdown_10sec.mp4";
    let mediaElement;
    let timingObject;

    // const timingProvider = new TimingProvider("ws://localhost:2276");
    let timingProvider = new TimingProvider("wss://sync.laptopsinspace.de:2277");
    // const timingProvider = new TimingProvider("kBElYKs4GDyJ7yLH2h4C");

    timingProvider.onerror = (event) => {
        console.log("timingProvider Error:", event);
    };

    // const intervalProviderCheck = setInterval(() => {
    //     console.log("TP:", timingProvider.readyState, "TS:", timingObject.readyState);
    // }, 1000);

    async function resetTimingObjectPosition() {
        console.log("reseting timingObject");
        try {
            await timingObject.update({ position: 0 });
        } catch (error) {
            console.error("Error wihile updaing to at resetTimingObjectPos");
        }
    }

    onMount(() => {
        timingObject = new TimingObject(timingProvider);

        let deleteTimingsrc;
        timingObject.addEventListener("readystatechange", async () => {
            console.log("readystatechange");
            if (timingObject.readyState === "open") {
                // const vector = timingObject.query();
                try {
                    await timingObject.update({ velocity: 1 });
                } catch (error) {
                    console.error("Error while updating to");
                }
                // let mediaElement = document.getElementById("player1");
                console.info("set Timintsrc to media Element");
                deleteTimingsrc = setTimingsrc(mediaElement, timingObject);

                timingObject.onchange = (event) => {
                    console.log("onchange");
                    // console.log("onchange", event);
                    // console.log("timingObject", timingObject);
                };
                timingObject.onerror = (event) => {
                    console.log("Error", event);
                };
            }
        });

        return () => {
            console.log("onDestroy");
            deleteTimingsrc();
        };
    });
</script>

<svelte:options immutable />
<video
    {src}
    preload="auto"
    bind:this={mediaElement}
    muted
    autoplay
    controls
    on:ended={resetTimingObjectPosition} />

<button on:click={timingObject.update({ position: 0 })}>Reset</button>
<button on:click={console.log(timingObject.query())}>Log Query</button>

<style>
    video {
        width: 100%;
        height: auto;
    }
</style>
